/* BASIC RESET */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
/* GENERAL SETTING*/
html {
	font-size: 62.5%; /* This defines what 1rem is. 1rem = 10px;*/
}
body {
	box-sizing: border-box;
	padding: 3rem;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	background: url("recipes/recipes.jpeg") no-repeat;
	background-size: cover;
	height: 100vh;
}

h1 {
	color: #fff;
	text-align: center;
	padding: 5rem 0;
	font-size: 5rem;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: violet;
	z-index: -90;
	opacity: 0.3;
}
ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
li {
	border-radius: 0.6rem;
	box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
	width: 30rem;
	height: 40rem;
	opacity: 0.8;
}
li:nth-child(1) {
	background: url("recipes/waffles.jpeg") no-repeat;
	background-size: cover;
}
li:nth-child(2) {
	background: url("recipes/steak.jpeg") no-repeat;
	background-size: cover;
}
li:nth-child(3) {
	background: url("recipes/casserole.jpeg") no-repeat;
	background-size: cover;
}
li a {
	text-decoration: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
li:hover {
	opacity: 1;
}
